/*normalize*/
html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS. */ }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

p, h1, h2, h3, h4, h5 {
  margin: 0px; }

a {
  outline: none;
  /* No default outlines around links  */ }

/* My reset */
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

@font-face {
  font-family: 'NEXT-ART-Regular';
  src: url(5721f911cdaa53b2768617c2ec9b6d41.otf); }

@font-face {
  font-family: 'Raleway-Light';
  src: url(6b562d7ca359ccb3259f570bcceb4f70.ttf);
    src-font-style: normal;
    src-font-weight: 300; }

@font-face {
  font-family: 'Raleway-Regular';
  src: url(2d4cd8722065da2ac700199273325752.ttf);
    src-font-style: normal;
    src-font-weight: 400; }

@font-face {
  font-family: 'Raleway-Medium';
  src: url(2e763f88811273e662c149e71ba9e984.ttf);
    src-font-style: normal;
    src-font-weight: 500; }

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(299ddfe9ee671626b0fe97cd94cfbb3b.ttf);
    src-font-style: normal;
    src-font-weight: 800; }

body {
  color: #FFFFFF;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
  min-width: 320px; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.barba-container {
  width: 100%; }

.page-container {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(211.21deg, #08071C 0%, #180B29 85.35%);
  position: relative; }

.aside-menu-container {
  display: flex;
  flex-direction: column;
  width: 95px;
  height: 100vh;
  background: linear-gradient(180deg, #1C1231 0%, #1D1331 100%);
  z-index: 3;
  position: fixed; }

.aside-menu-top-panel {
  display: flex; }

.aside-menu__button {
  cursor: pointer;
  margin: 32px 0 0 34px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none; }

.lines-button {
  display: inline-block;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3.42857px; }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    transition: 0;
    background: rgba(0, 0, 0, 0.1); }

.lines {
  width: 15px;
  margin-left: -8px;
  margin-bottom: 2px;
  display: inline-block;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/ }
  .lines:before, .lines:after {
    display: inline-block;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 1.71429px center;
            transform-origin: 1.71429px center;
    width: 24px; }
  .lines:before {
    top: 9px; }
  .lines:after {
    top: -9px; }

button:not(.aside-menu__button__closed) .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/ }
  button:not(.aside-menu__button__closed) .lines:before, button:not(.aside-menu__button__closed) .lines:after {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: 24px; }
  button:not(.aside-menu__button__closed) .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg); }
  button:not(.aside-menu__button__closed) .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg); }

.aside-menu-socials {
  display: none;
  opacity: 0;
  margin-top: 34px;
  margin-right: 38px;
  margin-left: auto; }

.aside-menu__social-icon-vk {
  width: 30px;
  height: 24px;
  background: url(static/images/socials-vk.png) center no-repeat;
  margin-right: 18px; }

.aside-menu__social-icon-fb {
  width: 16px;
  height: 24px;
  background: url(static/images/socials-fb.png) center no-repeat; }

.aside-menu__nav-menu {
  margin-top: 196px;
  margin-left: 24px;
  display: flex;
  width: 100%; }

.aside-menu__nav-menu-list-item {
  width: 80px;
  height: 80px; }
  .aside-menu__nav-menu-list-item:first-child {
    margin-top: 0; }
  .aside-menu__nav-menu-list-item-link {
    display: flex;
    width: 100%;
    height: 100%; }

.aside-menu__nav-menu-list-item-link-icon {
  width: 50px;
  height: 50px; }

#menu-icon-gradient {
  opacity: 0.0;
  display: inline-block;
  transition: opacity .4s ease; }

#menu-icon-gradient:hover,
.page-link__active #menu-icon-gradient {
  opacity: 1.0; }

.aside-menu-full__nav-menu-list {
  width: 263px;
  min-width: 263px;
  display: none;
  opacity: 0;
  margin: 0px 143px 0 auto; }

.aside-menu-full__nav-menu-list-item {
  font-family: 'NEXT-ART-Regular', sans-serif;
  text-transform: uppercase; }

.aside-menu-full__nav-menu-list-item-page-link {
  opacity: 0.6; }

.page-link__active {
  opacity: 1;
  background: #1C1231; }
  .page-link__active .aside-menu-full__nav-menu-list-item-number {
    position: relative; }
    .page-link__active .aside-menu-full__nav-menu-list-item-number:before {
      display: block;
      content: '';
      position: absolute;
      width: 8px;
      height: 54px;
      margin-top: -15px;
      margin-left: 48px;
      background-color: #1C1231; }
    .page-link__active .aside-menu-full__nav-menu-list-item-number:after {
      display: block;
      content: '';
      position: absolute;
      margin-top: -27px;
      margin-left: 50px;
      width: 2px;
      height: 32px;
      background-color: #fff; }

.aside-menu-full__nav-menu-list-item-number {
  display: inline-block;
  width: 54px;
  margin: 16px 24px 16px 0; }

.aside-menu-full__nav-menu-list-divider {
  width: 2px;
  height: 827px;
  background: linear-gradient(180deg, #27F1ED 0%, #4843B3 46%, #8E31AD 100%);
  position: absolute;
  margin-left: 180px;
  opacity: 0; }
  .aside-menu-full__nav-menu-list-divider:after {
    display: block;
    content: "";
    margin: 0 0 30px 37px;
    width: 24px;
    height: 12px;
    background: url(static/images/menu-next-button.png) center no-repeat;
    margin-top: 872px;
    margin-left: -12px; }

.aside-menu__bottom-panel {
  margin-top: 110px;
  display: flex;
  position: relative; }

.aside-menu__next-button {
  margin: 0 0 30px 37px;
  width: 24px;
  height: 12px;
  background: url(static/images/menu-next-button.png) center no-repeat; }

.aside-menu__copyright {
  display: none;
  position: absolute;
  margin-left: 40px;
  margin-top: 8px;
  font-size: 18px; }
  .aside-menu__copyright-icon {
    margin-right: 10px; }

.aside-menu__light-control {
  display: none;
  width: 30px;
  height: 30px;
  background: url(static/images/icon-sun.png) center no-repeat;
  margin-left: auto;
  margin-top: 6px;
  margin-right: 34px; }

.main-container {
  display: flex;
  padding-left: 95px; }

.landing-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5.55vh 4.16vw;
  margin: auto; }

.landing-page-primary-container {
  width: 48%;
  display: flex;
  flex-direction: column; }

.landing-page-secondary-container {
  width: 52%;
  display: flex;
  flex-direction: column; }

.logo-container {
  display: flex;
  align-items: center;
  width: 49%;
  font-size: 31px; }

.logo__image {
  margin: 6px 18px 0 6px;
  width: 74px;
  min-width: 60px;
  height: 82px;
  background: url(static/images/logo.png) center no-repeat;
  background-position-x: left top;
  background-size: 100%; }

.logo__text {
  font-size: 30px;
  margin-top: 3px;
  font-family: 'Raleway-Light';
  white-space: nowrap; }

.landing-page-image {
  width: 36.8vw;
  height: 49.9vh;
  max-width: 708px;
  max-height: 539px;
  margin: auto auto auto 0;
  background: url(static/images/image-landing.png) left center no-repeat;
  background-size: contain; }

.landing-page-basic-info {
  display: flex;
  justify-self: flex-end;
  margin-top: 20px; }

.basic-info__place-info, .basic-info__date-info {
  font-family: 'Raleway-Light';
  margin-left: 4px;
  white-space: nowrap; }

.basic-info__header {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.06em; }
  .basic-info__header-underline {
    margin: 16px 0 20px;
    width: 140px;
    height: 2px;
    background: linear-gradient(-90deg, #8E31AD 0%, #4843B3 46%, #27F1ED 100%); }

.basic-info__text {
  line-height: 33px; }

.basic-info__date-info {
  margin-left: 5.6vw; }

.tagline-and-button-container {
  display: flex; }

.tagline {
  line-height: 34px;
  font-size: 20px;
  margin: 12px auto 0 16px;
  font-family: 'Raleway-Light';
  white-space: nowrap; }

.button-buy-ticket {
  width: 298px;
  height: 67px;
  display: flex;
  background: url(static/images/button-buy.png) center no-repeat;
  background-size: contain;
  margin-top: 19px;
  padding-left: 7px;
  margin-left: 20px; }

.button-buy-ticket__text {
  font-family: 'Raleway-Medium';
  letter-spacing: 0.06em;
  margin: auto; }

.landing-page-headers {
  margin: 25.3vh 0 auto; }

.landing-page-header {
  text-transform: uppercase;
  font-family: 'Raleway-ExtraBold';
  font-weight: 800;
  line-height: 1;
  font-size: 115px;
  letter-spacing: 0.02em;
  text-align-last: justify;
  margin-bottom: 3px;
  margin-left: 10px;
  white-space: nowrap; }

.landing-page-second-header {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 33px;
  letter-spacing: 0.15em;
  background: linear-gradient(-90deg, #27F1ED 0%, #4843B3 46%, #8E31AD 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  white-space: nowrap;
  margin-left: 15px;
  text-align: justify;
  text-align-last: justify;
  overflow: visible;
  display: block; }

.landing-page-city-image {
  margin: 46px 0px 8px 16px;
  height: 285px;
  background: url(static/images/city.png) no-repeat;
  background-size: contain;
  background-position: right bottom; }

.about-us-shadows-container {
  position: relative; }

.about-us__shadows {
  position: absolute;
  margin-top: 11vh;
  width: 93vw;
  height: 100vh;
  background: url(static/images/about-us/shadow.svg) left bottom no-repeat;
  background-size: 100% 100%; }

.about-us-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5.55vh 2.6vw 2.26vh;
  margin: auto;
  z-index: 1; }

.about-us-logo-and-image-container {
  display: flex;
  flex-direction: column;
  margin-right: auto; }

.about-us-logo-and-image-container > .logo-container {
  margin-left: 30px; }

.about-us-image {
  background: url(static/images/about-us/about-us-image.png) center no-repeat;
  max-width: 770px;
  max-height: 847px;
  width: 40.1vw;
  height: 78.6vh;
  margin-top: 46px;
  background-size: contain; }

.about-us-info {
  margin-right: 70px; }

.about-us-info__header {
  font-family: 'Raleway-ExtraBold';
  font-size: 95px;
  letter-spacing: 0.02em;
  text-align: right;
  white-space: nowrap; }

.about-us-info__text {
  margin-top: 4.5vh;
  width: 541px;
  font-size: 20px;
  text-align: right;
  line-height: 34px;
  margin-bottom: 6.4vh; }

.about-us-info .button-buy-ticket {
  margin-left: auto; }

.for-who-shadows-container {
  position: relative; }

.for-who__shadows {
  position: absolute;
  width: 100vw;
  height: 2883px;
  margin-left: -100px;
  background: url(static/images/for-who/shadows.svg) center no-repeat;
  background-size: 100% 100%; }

.for-who-page-container {
  padding: 5.55vh 2.6vw 2.26vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2883px;
  position: relative; }

.for-who__logo-and-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.for-who__logo-and-header > .logo-container {
  margin-left: 30px; }

.for-who__header {
  font-family: 'Raleway-ExtraBold';
  line-height: 117px;
  font-size: 95px;
  text-align: right;
  letter-spacing: 0.02em;
  margin: -2px 8px 2px auto; }

.for-who__first-panel-content {
  display: flex;
  position: relative;
  margin: 62px 0 0 16.2vw; }

.for-who__first-panel-number {
  position: absolute;
  margin-top: -200px;
  margin-left: -78px;
  width: 110px;
  height: 311px;
  opacity: 0.05;
  background: url(static/images/for-who/num-1.png) center no-repeat; }

.for-who__first-panel-pic {
  width: 190px;
  height: 220px;
  background: url(static/images/for-who/pic-1.png) center no-repeat; }

.for-who__first-panel-text {
  width: 210px;
  line-height: 34px;
  margin: 82px 0 0 2.6vw; }

.for-who__second-panel {
  margin-top: 217px; }

.for-who__second-panel-content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 80px 4.8vw 0 auto; }

.for-who__second-panel-number {
  position: absolute;
  margin-top: -174px;
  margin-left: -378px;
  width: 220px;
  height: 311px;
  opacity: 0.05;
  background: url(static/images/for-who/num-2.png) center no-repeat; }

.for-who__second-panel-pic {
  width: 190px;
  height: 220px;
  background: url(static/images/for-who/pic-2.png) center no-repeat; }

.for-who__second-panel-text {
  width: 210px;
  line-height: 34px;
  margin: 60px 0 0 2.6vw; }

.for-who__third-panel {
  margin-top: 200px; }

.for-who__third-panel-content {
  display: flex;
  position: relative;
  margin: 32px 0 0 17.8vw; }

.for-who__third-panel-number {
  position: absolute;
  margin-top: -194px;
  margin-left: -180px;
  width: 252px;
  height: 338px;
  opacity: 0.05;
  background: url(static/images/for-who/num-3.png) center no-repeat; }

.for-who__third-panel-pic {
  width: 190px;
  height: 220px;
  background: url(static/images/for-who/pic-3.png) center no-repeat; }

.for-who__third-panel-text {
  width: 210px;
  line-height: 34px;
  margin: 60px 0 0 2.6vw; }

.for-who__forth-panel {
  margin-top: 290px; }

.for-who__forth-panel-content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 80px 21px 0 286px; }

.for-who__forth-panel-number {
  position: absolute;
  margin-top: -200px;
  margin-left: -436px;
  width: 271px;
  height: 335px;
  opacity: 0.05;
  background: url(static/images/for-who/num-4.png) center no-repeat; }

.for-who__forth-panel-pic {
  width: 190px;
  height: 220px;
  background: url(static/images/for-who/pic-4.png) center no-repeat; }

.for-who__forth-panel-text {
  width: 280px;
  line-height: 34px;
  margin: 80px 0 0 2.6vw; }

.for-who__bottom-panel {
  margin-top: 188px; }

.for-who__bottom-panel-content {
  display: flex;
  position: relative;
  margin: 80px 0 0 6.4vw; }

.for-who__bottom-panel-pic {
  position: absolute;
  margin-top: -400px;
  margin-left: 4px;
  width: 327px;
  height: 364px;
  background: url(static/images/for-who/pic-5.png) center no-repeat; }

.for-who__bottom-panel-text {
  width: 621px;
  line-height: 34px;
  margin: 104px 16px 0 0; }

.for-who__bottom-panel-content .button-buy-ticket {
  margin: 130px 5.4vw 0 auto; }

@media (max-width: 1919px) {
  .landing-page-header {
    font-size: 5.75vw;
    letter-spacing: 0.16vw; }
  .landing-page-second-header {
    font-size: 1.65vw;
    letter-spacing: 0.25vw; } }

@media (max-width: 1400px) {
  .landing-page-container {
    padding: 30px 40px; }
  .about-us-page-container {
    padding: 30px 20px; } }

@media (max-width: 1300px) {
  .tagline {
    font-size: 16px;
    width: 200px; }
  .for-who__bottom-panel-content {
    margin-left: 3.2vw; }
  .for-who__bottom-panel-content .button-buy-ticket {
    margin-right: 2.7vw; } }

@media (max-width: 1200px) {
  .basic-info__header-underline {
    width: 100px; }
  .basic-info__text {
    font-size: 16px; }
  .basic-info__date-info {
    margin-left: 3vw; }
  .landing-page-secondary-container .button-buy-ticket {
    width: 193px;
    margin-top: 6px;
    font-size: 18px; }
  .landing-page-header {
    font-size: 5.6vw;
    letter-spacing: 0.12vw; }
  .landing-page-second-header {
    font-size: 1.60vw;
    letter-spacing: 0.22vw; }
  .about-us-info {
    width: 100%;
    margin-left: 16px;
    margin-right: 3.6vw; }
  .about-us-info__header {
    font-size: 5vw; }
  .about-us-info__text {
    margin-left: auto;
    margin-bottom: 16px;
    width: 100%;
    font-size: 16px; }
  .for-who-page-container {
    font-size: 16px; }
  .for-who__header {
    font-size: 4.9vw;
    line-height: 46px;
    margin-bottom: 210px; }
  .for-who__first-panel-content {
    margin-left: 10vw; }
  .for-who__second-panel-number {
    margin-left: -300px; }
  .for-who__third-panel-content {
    margin-left: 12vw; }
  .for-who__third-panel-number {
    margin-left: -90px; }
  .for-who__forth-panel-text {
    width: 160px;
    margin-top: 60px; }
  .for-who__forth-panel-number {
    margin-left: -290px; }
  .for-who__bottom-panel {
    margin-top: 290px; } }

